# Java & scala files/folder
.cache-main
.classpath
bin/*
.settings/
.class
.DS_Store
/bin/
compile

# Intellij files
Project.RO.2016.11.08.Scala.v2.iml
.idea/

# Node & bower files
node_modules
bower_components
public/bower_components/*




