# Java & scala files/folder
.cache-main
.classpath
bin/*
.settings/
.class
.DS_Store
/bin/
compile

# Intellij files
Project.RO.2016.11.08.Scala.v2.iml
.idea/

# Node & bower files
www/node_modules
www/public/bower_components/
*/npm-debug.log



