<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="Jérôme Buisine">
        <title>Photo album Optimization</title>
        <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="main.css" rel="stylesheet">
    </head>

    <body cz-shortcut-listen="true">

        <% include partials/nav %>

        <!-- Page content -->
        <div class="container custom-container">

            <% if(locals.page){ %>
               <%- include('pages/' + page) %>
            <% } %>


        </div>

        <% include partials/footer %>

        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="bower_components/jquery/dist/jquery.min.js"></script>
        <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    </body>

</html>