<!DOCTYPE html>
<html lang="en">

    <head>
        <% include partials/head %>
    </head>

    <body cz-shortcut-listen="true">

        <!-- Animation block -->
        <svg class="svg-snake" xmlns="http://www.w3.org/2000/svg" version="1.1">
            <defs>
                <filter id="goo">
                    <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur" />
                    <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 35 -10" result="goo" />
                    <feBlend in="SourceGraphic" in2="goo" operator="atop" />
                </filter>
            </defs>
        </svg>
        <div class="loader-snake">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
        <!-- End Animation block -->

        <!-- Nav bar -->
        <% include partials/nav %>

        <!-- Page content -->
        <div class="container-fluid custom-container">

            <% if(locals.page){ %>
               <%- include('pages/' + page) %>
            <% } %>

        </div>

        <% include partials/footer %>

        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="/bower_components/jquery/dist/jquery.min.js"></script>
        <script src="/bower_components/jquery-ui/jquery-ui.js"></script>
        <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="/bower_components/jquery-serialize-object/dist/jquery.serialize-object.min.js"></script>
        <script src="/bower_components/notify/notification.js"></script>
        <script src="/bower_components/plotlyjs/plotly.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script src="/bower_components/dropzone/dist/min/dropzone.min.js"></script>
        <script src="/bower_components/gridly/javascripts/jquery.gridly.js"></script>
        <script src="/bower_components/angular/angular.js"></script>
        <script src="/bower_components/angular-route/angular-route.js"></script>
        <script src="/js/main-module-angular.js"></script>
        <script src="/js/main.js"></script>

        <% if(locals.page == "template"){ %>
            <script src="/js/template.js"></script>
        <% } %>

        <% if(locals.page == "solution"){ %>
            <script src="/js/solution.js"></script>
        <% } %>

        <% if(locals.page == "manage-templates"){ %>
            <script src="/js/manage-templates-angular.js"></script>
        <% } %>


    </body>

</html>
