<br />
<!-- Need to set max item for all inputs with dynamic calculation based on number photo uploaded -->
<form>
    <div class="form-group">
        <label for="DispositionName">Disposition file name</label>
        <input type="text" class="form-control" id="DispositionName" placeholder="File name">
    </div>
    <div class="form-group">
        <label for="X_axis_element">X axis element</label>
        <input type="number" min="1" max="{{dispositionCtrl.nbPhoto}}" class="form-control" id="X_axis_element" placeholder="X elements">
    </div>
    <div class="form-group">
        <label for="Y_axis_element">Y axis element</label>
        <input type="number" min="1" max="{{dispositionCtrl.nbPhoto}}" class="form-control" id="Y_axis_element" placeholder="Y elements">
    </div>
    <div class="form-group">
        <label for="page_number">Page number</label>
        <input type="number" min="1" max="{{dispositionCtrl.nbPhoto}}" class="form-control" id="page_number" placeholder="Page number">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>