<div class="page-header">
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <h2>Creation of template</h2>
        </div>

        <div class="container">

            <form id="form-templateName" class="form-inline">
                <div class="form-group has-warning has-feedback">
                    <label class="control-label" for="templateName">Template name : </label>
                    <input id="templateName" type="text" name="templateName" class="form-control" placeholder=""/>
                    <span id="inputIconStatus" class="glyphicon glyphicon-warning-sign form-control-feedback" aria-hidden="true"></span>
                    <span id="inputSuccess2Status" class="sr-only">(success)</span>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary template-name-validate">Next</button>
                </div>

                <div class="form-group">
                    <button class="btn btn-primary template-show">Show template</button>
                </div>
            </form>

            <form disabled="true" action="/template-save-image" class="dropzone needsclick dz-clickable" id="fileUpload" enctype="multipart/form-data">
                <input type="hidden" name="templateName" />
                <div class="dz-message needsclick">
                    Please fill a correct template name & drop files here or click to upload.<br>
                    <span class="note needsclick">Each photo will be directly update</span>
                </div>
            </form>
        </div>
    </div>
</div>
