<div class="page-header">
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <h2>Creation of template</h2>
        </div>

        <form action="/file-upload" class="dropzone" id="template-dropzone"></form>

    </div>
</div>
