<div class="page-header">
    <h1>Home page</h1>
</div>
<div>
    <h4><b><u>Application presentation</u></b></h4>

    <div id="introduction">
        <p style="font-size:16px">This web application is develop in order to improve user utilisation to create photo album with some optimisation algorithms.
        Just above, please check the list of different features which can be used on this web application.</p>
    </div>

    <br />
    <h4><b><u>Features and terms used</u></b></h4>
    <div style="font-size:16px">
        <ul>
            <li><u>Template :</u> It is a term used to define an album composed with user photo. A template can be used to generate some album photo after making generation.</li>
            <li><u>Album type :</u> Define a kind of photo disposition of an album. This property is used to generate album when associated with template.</li>
            <li><u>Album :</u> It's a final "solution", to make sense that's a final proposition of an album generation. After generate solutions and select one of its particularly, the user can make last updates to improve its album.</li>
        </ul>
    </div>

    <br />
    <h4><b><u>Other goals</b></u></h4>
    <div style="font-size:16px">
        One of the ambition of the project is to make it an independent application. Then, with some IA algorithms leaned later in courses, the objective is to use user updates to improve quality of future generations.
    </div>
</div>