<div class="page-header">
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <h2>Manage your templates</h2>
        </div>

        <div ng-app="photoAlbum.manage" ng-controller="MainController as manageCtrl" class="container">
            <br />
            <h4><u>Create new template</u></h4>

            <div class="row">
                <div class="col-md-6">
                    <form id="form-templateName" class="form-inline">
                        <div ng-class="manageCtrl.templateName.length < 6 ? 'has-error' : 'has-success'" class="form-group has-feedback">
                            <label class="control-label" for="templateName">Template name : </label>
                            <input ng-model="manageCtrl.templateName" id="templateName" type="text" name="templateName" class="form-control" placeholder=""/>
                            <span ng-class="manageCtrl.templateName.length < 6 ? 'glyphicon-remove' : 'glyphicon-ok'" id="inputIconStatus" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                            <span ng-show="manageCtrl.templateName.length >= 6" id="inputSuccess2Status" class="sr-only">(success)</span>
                        </div>
                        <div class="form-group">
                            <button ng-disabled="manageCtrl.templateName.length < 6" ng-click="manageCtrl.addTemplate()" class="btn btn-primary template-name-validate">Add</button>
                        </div>

                    </form>
                </div>
                <div class="col-md-6">
                    <form id="form-select-template" class="form-inline">
                        <div class="form-group">
                            <select ng-model="manageCtrl.selectedTemplate" ng-change="manageCtrl.loadPhoto()" class="form-control" name="templateSelected">
                                <option value="no" selected>No template</option>
                                <% if(locals.templates){ %>
                                    <% templates.forEach(function(template){ %>
                                        <option value="<%= template %>"><%= template %></option>
                                    <% }); %>
                                <% }%>
                            </select>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-warning build-template">
                                <span class="glyphicon glyphicon-play-circle"></span>
                            </button>
                        </div>
                        <div class="form-group">
                            <button ng-click="manageCtrl.removeTemplate()" class="btn btn-danger remove-template">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>


            <br />

            <!-- Nav added to add panel for each part of managing template-->
            <ul class="nav-template-management nav nav-tabs">
                <li class="active" data-page="home" role="presentation"><a href="#">Home</a></li>
                <li class="disabled" data-page="add" role="presentation"><a href="#">Add images</a></li>
                <li ng-click="manageCtrl.loadPhoto()" class="disabled" data-page="manage" role="presentation"><a href="#">Manage images</a></li>
            </ul>

            <div ng-controller="HomeController" ng-view></div>
        </div>
    </div>
</div>
