<div class="page-header">
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <h2>Manage your templates</h2>
        </div>

        <div class="container">
            <br />
            <h4><u>Create new template</u></h4>

            <div class="row">
                <div class="col-md-6">
                    <form id="form-templateName" class="form-inline">
                        <div class="form-group has-warning has-feedback">
                            <label class="control-label" for="templateName">Template name : </label>
                            <input id="templateName" type="text" name="templateName" class="form-control" placeholder=""/>
                            <span id="inputIconStatus" class="glyphicon glyphicon-warning-sign form-control-feedback" aria-hidden="true"></span>
                            <span id="inputSuccess2Status" class="sr-only">(success)</span>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary template-name-validate">Add</button>
                        </div>

                    </form>
                </div>
                <div class="col-md-6">
                    <form id="form-select-template" class="form-inline">
                        <div class="form-group">
                            <select class="form-control" name="templateSelected">
                                <option value="no">No template</option>
                                <% if(locals.templates){ %>
                                    <% templates.forEach(function(template){ %>
                                        <option value="<%= template %>"><%= template %></option>
                                    <% }); %>
                                <% }%>
                            </select>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-warning build-template">
                                <span class="glyphicon glyphicon-play-circle"></span>
                            </button>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-danger remove-template">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>


            <br />

            <!-- Nav added to add panel for each part of managing template-->
            <ul class="nav-template-management nav nav-tabs">
                <li class="active" data-page="home" role="presentation"><a href="#">Home</a></li>
                <li class="disabled" data-page="add" role="presentation"><a href="#">Add images</a></li>
                <li class="disabled" data-page="manage" role="presentation"><a href="#">Manage images</a></li>
            </ul>

            <div class="home-description-container">
                <div class="jumbotron ">
                    <h3>Home page of managing template</h3>
                    <p>Here a description later</p>
                </div>
            </div>

            <div class="images-uploaded-container">
                <form disabled="true" action="/template-save-image" class="dropzone needsclick dz-clickable" id="fileUpload" enctype="multipart/form-data">
                    <input type="hidden" name="templateName" />
                    <div class="dz-message needsclick">
                        Please fill a correct template name & drop files here or click to upload.<br>
                        <span class="note needsclick">Each photo will be directly update</span>
                    </div>
                </form>
            </div>

            <div class="manage-template-container gridly">

            </div>
        </div>
    </div>
</div>
