.svg-snake {
 height: 0px;
 width: 0px;
}

@keyframes loader-snake {
    50% {
        transform: translateY(-16px);
        background-color: #1b98e0;
    }
}
body {
    background-color: #13293d;
    margin: 0;
}

.loader-snake {
    filter: url("#goo");
    width: 100px;
    margin: 0 auto;
    position: relative;
    top: 50vh;
    transform: translateY(-10px);
}
.loader-snake > div {
    float: left;
    height: 20px;
    width: 20px;
    border-radius: 100%;
    background-color: #006494;
    animation: loader-snake 0.8s infinite;
}

.loader-snake > div:nth-child(1) {
    animation-delay: 0.16s;
}

.loader-snake > div:nth-child(2) {
    animation-delay: 0.32s;
}

.loader-snake > div:nth-child(3) {
    animation-delay: 0.48s;
}

.loader-snake > div:nth-child(4) {
    animation-delay: 0.64s;
}

.loader-snake > div:nth-child(5) {
    animation-delay: 0.8s;
}