.custom-container{
    margin-top: 30px;
    margin-bottom: 70px;
    margin-left: 3%;
    margin-right: 3%;
}

.footer{
    padding: 10px 0;
    position: fixed;
    text-align: center;
    background-color: #F8F8F8;
    border-top: solid 1px lightgrey;
    bottom: 0;
    width: 100%;
    z-index: 100;
}

#navigation{
    text-align: center;
}

#pictures{
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

#pictures img{
    border: 3px solid lightslategray;
    margin-bottom: 5px;
}

#generate-album{
    padding-top: 30px;
}

.create-solution-modal-header{
    background-color: #f43558;
    color: #ffffff;
    border-radius: 4px 4px 0px 0px;
}

.process-running-modal-header{
    background-color: #007acc;
    color: #ffffff;
    border-radius: 4px 4px 0px 0px;
}

.title-decoration{
    text-decoration: underline;
    font-weight: 200;
}

.container-text{
    padding: 20px;
    font-size: 16px;
}

#graphic-representation{
    padding-left: 10%;
    padding-right: 10%;
}

#form-templateName input{
    max-width: 300px;
}

#fileUpload{
    margin-top: 20px;
    min-height: 200px;
    border: dashed #cca137 3px;
    border-radius: 10px;
}

.template-show{
    float: right;
    visibility: hidden;
}