.custom-container{
    margin-top: 30px;
    margin-bottom: 70px;
    margin-left: 3%;
    margin-right: 3%;
    visibility: hidden;
}

.navbar{
    visibility: hidden;
}

.footer{
    padding: 10px 0;
    position: fixed;
    text-align: center;
    background-color: #F8F8F8;
    border-top: solid 1px lightgrey;
    bottom: 0;
    width: 100%;
    z-index: 100;
}

#navigation{
    text-align: center;
}

#pictures{
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

#pictures img{
    border: 3px solid lightslategray;
    margin-bottom: 5px;
}

#generate-album{
    padding-top: 30px;
}

.create-solution-modal-header{
    background-color: #f43558;
    color: #ffffff;
    border-radius: 4px 4px 0px 0px;
}

.process-running-modal-header{
    background-color: #007acc;
    color: #ffffff;
    border-radius: 4px 4px 0px 0px;
}

.title-decoration{
    text-decoration: underline;
    font-weight: 200;
}

.container-text{
    padding: 20px;
    font-size: 16px;
}

#graphic-representation{
    padding-left: 10%;
    padding-right: 10%;
}

#form-templateName input{
    max-width: 300px;
}

#fileUpload{
    margin-top: 20px;
    min-height: 200px;
    border: dashed #67b276 3px;
    border-radius: 10px;
}

.template-show{
    float: right;
    visibility: hidden;
}

.manage-template-container{
    padding: 20px;
}

.gridly {
    position: relative;
    width: 1000px;
    text-align: center;
    top: 30px;
    left: 15px;
}
.brick.small > img{
    width: 125px;
    height: 84px;
    border: 1px solid lightgrey;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.image-delete-btn{
    display: block;
    color: #FFF;
    background: rgba(255, 0, 0, 0.6);
    width: 30px;
    height: 42px;
    top: 42px;
    right: -30px;
    position: absolute;
    text-align: center;
    line-height: 40px;
    border: 1px solid lightgrey;
    border-bottom-right-radius: 3px;
}

.image-info-icon{
    display: block;
    color: #FFF;
    background: rgba(0, 0, 0, 0.6);
    width: 30px;
    height: 42px;
    top: 0;
    right: -30px;
    position: absolute;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
    border: 1px solid lightgrey;
    border-top-right-radius: 3px;
}

/*
    Other CSS
 */

.form-control{
    margin: 0 15px 0 15px;
}

.modal-content{
    border-radius: 7px;
}